{% extends 'base.html.twig' %}

{% block body_id 'security_login' %}

{% block body %}
    <h1 class="display-4 text-center py-2">{{ 'security.login.title'|trans }}</h1>
    
    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle img-fluid d-block mx-auto mb-4"/>
                    
                    {% if error %}
                        <div class="alert alert-danger text-center">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    
                    <form action="{{ path('security_login') }}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required"/>
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required"/>
                            </div>
                            
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            
                            <button type="submit" class="btn btn-primary btn-lg btn-block mx-auto my-3">
                                {{ 'security.login.submit'|trans }}
                            </button>
                            
                            <label for="remember_me" class="checkbox pull-left">
                                <input type="checkbox"  id="remember_me" name="_remember_me" value="remember-me"/>
                                {{ 'security.login.remember_me'|trans }}
                            </label>
                            <a href="#" class="pull-right">{{ 'security.login.forgot_password'|trans }}</a><span class="clearfix"></span>
                        </fieldset>                    </form>
                </div>
            </div>
            
            <div class="text-center">
                <a href="#">{{ 'security.login.register'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}