{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/drop.css') }}">
{% endblock %}

{% block main %}
    {% form_theme form 'form/horizontal.html.twig' %}
	<a class="btn btn-dark m-4" href="{{ path('user_profile_show') }}"><i class="fa fa-arrow-left"> Retour sur votre profil</i></a>
	{{ form_start(form) }}
        <div class="row bg-muted rounded mt-4">
            <div class="col m-2">
                {{ form_row(form.fullname, { 'label': 'registration.register.fullname'|trans }) }}
            </div>

            <div class="col m-2">
                <div class="drop">
                    <div class="drop-body">
                        <i class="fa fa-cloud-upload"></i>
                        <h5>{{ 'util.drag&drop.title'|trans }}</h5>
                    </div>
                    <div class="drop-footer">
                        {{ form_row(form.headshot, { 'label': 'registration.register.headshot'|trans }) }}
                    </div>
                </div>
            </div>
        </div>
		
    {{ form_end(form) }}
	<hr/>
	{% if is_granted('ROLE_AGENT') %}
		<h2> Personnaliser vos visites : </h2>
		<div class="row bg-muted mt-4 mb-4 rounded mx-auto">
			
			<div class="m-2 ">
				<form action="">
				<h4> <i class="fa fa-folder"></i> Modifier la couleur de fond de vos visites : </h4>
					<div class="row mx-auto">
						<p class="m-2"><input  type="radio" name="color" id="Rouge"/> Red </p>
						<p class="m-2"><input  type="radio" name="color" id="Vert"/>	Green </p>
						<p class="m-2"><input  type="radio" name="color" id="Bleu"/>	Blue </p>
						<p class="m-2"><input  type="radio" name="color" id="Cyan"/>	Cyan </p>
						<p class="m-2"><input  type="radio" name="color" id="Noir"/> 	Dark </p>
						<p class="m-2"><input  type="radio" name="color" id="Gris"/>	Grey </p>
						<p class="m-2"><input  type="radio" name="color" id="Orange"/>	Orange </p>
					</div>
					<div class="row mx-auto">
						<p class="m-2"><input  type="radio" name="color" id="Default" checked="checked"/>	Default </p>
					</div>
					<hr/>
					<h4> <i class="fa fa-folder"></i> Modifier la couleur de police de vos visites : </h4>
					<div class="row mx-auto">
						<p class="m-2 radio"><input  type="radio" name="font" id="Rouge"/> Red </p>
						<p class="m-2"><input  type="radio" name="font" id="Vert"/>	Green </p>
						<p class="m-2"><input  type="radio" name="font" id="Bleu"/>	Blue </p>
						<p class="m-2"><input  type="radio" name="font" id="Cyan"/>	Cyan </p>
						<p class="m-2"><input  type="radio" name="font" id="Noir"/> 	Dark </p>
						<p class="m-2"><input  type="radio" name="font" id="Gris"/>	Grey </p>
						<p class="m-2"><input  type="radio" name="font" id="Orange"/>	Orange </p>
					</div>
					<div class="row mx-auto">
						<p class="m-2"><input  type="radio" name="font" id="Default" checked="checked"/>	Default </p>
					</div>
					<button type="button" class="mt-4 mx-auto btn btn-success"> Modifier </button>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock %}
