{% extends 'base.html.twig' %}

{% block main %}
    {{ form_start(form) }}
        {{ form_row(form.fullname, { 'label': 'security.register.fullname'|trans }) }}
        {{ form_row(form.headshot, { 'label': 'security.register.headshot'|trans }) }}

    	<button type="submit">
            {{ 'security.register.submit'|trans }}
    	</button>
    {{ form_end(form) }}
{% endblock %}
