{% extends 'base.html.twig' %}

{% block main %}

  <div class="jumbotron bg-secondary mx-auto mt-5" style="width:60%;">
	<img alt="user_pics" class="rounded-circle mx-auto" width="150px"src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg">
    <h1>{{'user.profile'|trans }}</h1>      
    <p>{{'user.list.fullname'|trans }} : <span class="text-warning">{{ user.fullname }}</span> </p>
	<p>{{'user.list.username'|trans }} : <span class="text-warning">{{ user.username }}</span></p>
	<p>{{'user.list.email'|trans }} : <span class="text-warning">{{ user.email }}</span> </p>  
  </div>

	<a href="{{ path('user_profile_edit') }}" class="nav-link" ><i class="fa fa-cog"></i> {{ 'user.edit'|trans }}</a>
{% endblock %}
