{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/login.css') }}">
{% endblock %}

{# Hide header and footer #}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body_id 'security_login' %}
{% block body %}
	<a class="btn btn-dark m-2" href="{{ path('homepage') }}"><i class="fa fa-arrow-left"></i></a>
    <form action="{{ path('user_security_login') }}" method="post">
        <h2 class="sr-only">{{ 'security.login.title'|trans }}</h2>

        <div class="illustration">
            <i class="fa fa-user-circle-o"></i>
        </div>

        {% if error %}
            <p class="lead text-center text-danger flash animated">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </p>
        {% endif %}

        <div class="form-group">
            <input class="form-control" type="text" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required">
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
                {{ 'security.login.submit'|trans }}
            </button>
        </div>

        <a href="#" class="forgot">
            {{ 'security.login.forgot_password'|trans }}
        </a>
    </form>
{% endblock %}
