{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/drop.css') }}">
{% endblock %}

{% block body_id 'visit_editor' %}
{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin_dashboard', {'template' : 'dashboard'}) }}">
                <span>Dashboard</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('visit_list') }}">
                <span>Visit</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span>Editor</span>
        </li>
    </ol>

    {{ parent() }}
{% endblock %}

{% block main %}
    <h2>
        <i class="fa fa-cog pr-1"></i>
        {{ 'visit.editor.title'|trans }}
    </h2>

    {% form_theme form 'form/horizontal.html.twig' %}
    {{ form_start(form) }}
        <div class="row pb-4">
            {# form paramètres de la visite #}
            <div class="col">
                <h5 class="text-center pb-2">Properties</h5>
                {{ form_row(form.name, { 'label': 'visit.editor.name'|trans }) }}
                {{ form_row(form.location, { 'label': 'visit.editor.location'|trans }) }}
                {{ form_row(form.sqft, { 'label': 'visit.editor.sqft'|trans }) }}
                {{ form_row(form.price, { 'label': 'visit.editor.price'|trans }) }}
            </div>

            {# cover de la visite #}
            <div class="col-12 col-md-5">
                <h5 class="text-center pb-2">Cover</h5>
                <div class="drop">
                    <div class="drop-body">
                        <i class="fa fa-cloud-upload"></i>
                        <h5>{{ 'util.drag&drop.title'|trans }}</h5>
                    </div>
                    <div class="drop-footer">
                        {% form_theme form 'form/nolabel.html.twig' %}
                        {{ form_row(form.cover) }}
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
