{% extends 'base.html.twig' %}

{% block body_id 'visit_list' %}
{% block main %}
    <div class="row">
        {% for visit in visits %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 py-3">
                <div class="card">
                    <a href="{{ path('visit_show', {'id': visit.id}) }}">
                        <img src="{{ asset("visit/" ~ visit.id ~ "/cover.jpg") }}" class="card-img-top" style="height:200px;">
                    </a>
                    <div class="card-body">
                        <h5>{{ visit.name }}</h5>
                        <p>{{ visit.owner.username}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <small>
                            <a href="{{ path('visit_show', {'id': visit.id}) }}">
                                <i class="fa fa-eye pr-1"></i>
                                {{ 'visit.list.show'|trans }}
                            </a>
                        </small>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="jumbotron mx-auto">
                <h1>{{ 'visit.list.empty.title'|trans }}</h1>
                <p>{{ 'visit.list.empty.message'|trans }}</p>
                <p>
                    <a class="btn btn-primary" role="button" href="#">
                        {{ 'visit.list.empty.btn_editor'|trans }}
                    </a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
