{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/visit.css') }}">
{% endblock %}

{% block body_id 'visit_list' %}
{% block main %}
    <div class="row">
        {% for visit in visits %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 py-3">
                <div class="card">
                    <a href="{{ path('visit_show', {'id': visit.id}) }}">
                        <img src="{{ asset("visit/" ~ visit.id ~ "/cover.jpg") }}" class="card-img-top" style="height:200px;">
                    </a>
                    <div class="card-body">
                        <h5>{{ visit.name }}</h5>
                        <p class="font-weight-light">{{visit.sqft}} m² - {{visit.price}} €</p>
                        <p><small>{{ visit.location}}</small></p>
                    </div>
                    <a href="{{ path('visit_show', {'id': visit.id}) }}" class="card-footer text-center">
                        <small>
                            <i class="fa fa-eye pr-1"></i>
                            {{ 'visit.list.show'|trans }}
                        </small>
                    </a>
                </div>
            </div>
        {% else %}
            {# alerte si il n'y a aucune visite à afficher #}
            <div class="col-12 alert alert-warning mt-3" role="alert">
                <strong>{{ 'visit.list.empty.title'|trans }}</strong>
                {{ 'visit.list.empty.message'|trans }}

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% if is_granted('ROLE_AGENT') %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 py-3 align-self-center mx-auto">
                <a href="{{ path('visit_editor_edit') }}" class="btn btn-outline-primary btn-lg">
                    <i class="fa fa-plus pr-1"></i>
                    {{ 'visit.editor.new_visit'|trans }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
