{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var visit =  {
            name: '{{ visit.name }}',
            id: '{{ visit.id }}'
        };
    </script>
	<script src="{{ asset('three.js') }}"></script>
	<script src="{{ asset('dat.gui.min.js') }}"></script>
	<script src="{{ asset('visit.js') }}"></script>
{% endblock %}

{% block main %}
    <div id="visit_viewer"></div>
{% endblock %}
