{% extends 'base.html.twig' %}

{% block body_id 'visit_viewer' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var visit =  {
            name: '{{ visit.name }}',
            id: '{{ visit.id }}'
        };
    </script>
    <script src="{{ asset('three.js') }}"></script>
    <script src="{{ asset('dat.gui.min.js') }}"></script>
    <script src="{{ asset('visit.js') }}"></script>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('visit_list') }}">
                <span>{{ 'visit.show.link.list'|trans }}</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('visit_list', {'id': visit.owner.id}) }}">
                {% if visit.owner.fullname %}
                    <span>{{ visit.owner.fullname }}</span>
                {% else %}
                    <span>{{ visit.owner.username }}</span>
                {% endif %}
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span>{{ visit.name }}</span>
        </li>
    </ol>

    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="text-center py-3">
        <h4>{{ visit.name }}</h2>
        <canvas style="height:100%; width:100%;"></canvas>
    </div>
{% endblock %}
