{% extends 'base.html.twig' %}

{% block body_id 'visit_viewer' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var visit =  {
            name: '{{ visit.name }}',
            id: '{{ visit.id }}'
        };
    </script>
    <script src="{{ asset('three.js') }}"></script>
    <script src="{{ asset('dat.gui.min.js') }}"></script>
    <script src="{{ asset('visit.js') }}"></script>
	<script src="{{ asset('editorVector.js') }}"></script>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('visit_list') }}">
                <span>{{ 'visit.show.link.list'|trans }}</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('visit_list', {'owner_id': visit.owner.id}) }}">
                {% if visit.owner.fullname %}
                    <span>{{ visit.owner.fullname }}</span>
                {% else %}
                    <span>{{ visit.owner.username }}</span>
                {% endif %}
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span>{{ visit.name }}</span>
        </li>
    </ol>

    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="text-center py-3">
        <h4>{{ visit.name }}</h4>
		  <div class="row" style="height:600px;">
				<span class="col-9">
					<canvas style="height:100%;width:100%;" >
					</canvas>
				</span>
				<span class="col-3 bg-secondary card-2 ">
					<div class="mt-5">
						<h4 class="text-light"> {{ visit.name }} : {{ 'visit.show.room'|trans }} </h4>
						<p class="d-flex p-2">{{ 'visit.show.sqft'|trans }} : {{visit.sqft}} m² </p>
						<p class="d-flex p-2">{{ 'visit.show.price'|trans }} : {{visit.price}} €</p>
						<p class="d-flex p-2">{{ 'visit.show.location'|trans }} : {{ visit.location}} </p>
						<p class="text-light"> {{ 'visit.show.blueprint'|trans }} :</p>
						<div id="blueprint" class="card-4" style="height:300px;width:100%;">
							<canvas id="myCanvas" style="height:80%;width:100%;"></canvas>
							<button type="button" class="border btn btn-secondary mb-2"
						onclick="mainWindow.GoPrevFloor()"> <- </button>
							<button type="button" class="border btn btn-secondary mb-2"
						onclick="mainWindow.GoNextFloor()"> -> </button>
						</div>
				</span>
		</div>
    </div>
{% endblock %}
