{% extends 'base.html.twig' %}

{% block body_id 'visit_viewer' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var visit =  {
            name: '{{ visit.name }}',
            id: '{{ visit.id }}'
        };
    </script>
    <script src="{{ asset('three.js') }}"></script>
    <script src="{{ asset('dat.gui.min.js') }}"></script>
    <script src="{{ asset('visit.js') }}"></script> 
    <script src="{{ asset('editorVector.js') }}"></script>
    <script src="{{ asset('visitDisplayBlueprint.js') }}"></script>
	{# <script src="{{ asset('preferences.js') }}"></script>#}
	
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('visit_list') }}">
                <span>{{ 'visit.show.link.list'|trans }}</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('visit_list', {'owner_id': visit.owner.id}) }}">
                {% if visit.owner.fullname %}
                    <span>{{ visit.owner.fullname }}</span>
                {% else %}
                    <span>{{ visit.owner.username }}</span>
                {% endif %}
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span>{{ visit.name }}</span>
        </li>
    </ol>

    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="text-center py-3" >
        <h4>{{ visit.name }}</h4>
        <div class="row" style="height:100%;width:100%;">
            <div class="col-xl-9">
			<center>
				<div class="mr-5" style="width:80%;height:45%;position:relative;">
					<canvas id="canvasvue" style="width:80%;height:45%;position:relative;"></canvas>
				</div>
			</center>
			</div>
			
			{% if visit.owner.username == utilisateurs[7] %}
				<div class="col-xl-3 bg-{{ color[7] }} card-2 " id="panel_view">
			{% elseif visit.owner.username == utilisateurs[6] %}
				<div class="col-xl-3 bg-{{ color[6] }} card-2 " id="panel_view">
			{% elseif visit.owner.username == utilisateurs[3] %}
				<div class="col-xl-3 bg-{{ color[3] }} card-2 " id="panel_view">		
			{% elseif visit.owner.username == utilisateurs[4] %}
				<div class="col-xl-3 bg-{{ color[4] }} card-2 " id="panel_view">
			{% elseif visit.owner.username == utilisateurs[5] %}
				<div class="col-xl-3 bg-{{ color[5] }} card-2 " id="panel_view">
			{% else %}
					<div class="col-xl-3 bg-secondary card-2 " id="panel_view">
			{% endif %}
			
			
			<center>
                <div class="mt-5">
                    <h4 class="text-light"> {{ visit.name }} : {{ 'visit.show.room'|trans }} </h4>
                    <p class="d-flex p-2">{{ 'visit.show.sqft'|trans }} : {{visit.sqft}} m² </p>
                    <p class="d-flex p-2">{{ 'visit.show.price'|trans }} : {{visit.price}} €</p>
                    <p class="d-flex p-2">{{ 'visit.show.location'|trans }} : {{ visit.location}} </p>
                    <p class="text-light"> {{ 'visit.show.blueprint'|trans }} :</p>
                    <div id="blueprint" class="card-4" style="height:300px;width:100%;">
                        <canvas id="myCanvas" style="height:80%;width:100%;"></canvas>
                        <button type="button" class="border btn btn-secondary mb-2"
                                onclick="mainWindow.GoPrevFloor()">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <button type="button" class="border btn btn-secondary mb-2"
                                onclick="mainWindow.GoNextFloor()">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
				</center>
            </div>
        </div>
    </div>
{% endblock %}