<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                Virtual Visit
            </a>

            <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="nav-link" href="{{ path('homepage') }}">
                            <i class="fa fa-home pr-1"></i>{{ 'menu.homepage'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('visit_list') }}">
                            {{ 'menu.visits'|trans }}
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav text-dark navbar-right">
                    {% if app.user %}
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-user-circle pr-1"></i>{{ app.user.username }}<span class="caret"/>
                            </a>
                            <ul class="dropdown-menu nav-item" role="menu">
                                <li>
                                    <a href="#" class="nav-link text-dark">
                                        <i class="fa fa-address-book pr-1"></i>{{ 'menu.user_menu.profile'|trans }}
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('admin_dashboard_index') }}" class="nav-link text-dark">
                                            <i class="fa fa-dashboard pr-1"></i>{{ 'menu.user_menu.dashboard'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a href="{{ path('user_security_logout') }}" class="nav-link text-dark">
                                        <i class="fa fa-sign-out pr-1"></i>{{ 'menu.user_menu.logout'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('user_security_login') }}" class="nav-link">
                                <i class="fa fa-sign-in pr-1"></i>{{ 'menu.login'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_registration_register') }}" class="nav-link">
                                <i class="fa fa-user-plus pr-1"></i>{{ 'menu.signup'|trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
