<header class="border-bottom bg-light">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                Virtual Visit
            </a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link font-weight-bold" href="{{ path('visit_list') }}" data-bs-hover-animate="pulse">
                            {{ 'menu.visits'|trans }}
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav ml-auto">
                    {% if app.user %}
                       {# menu user #}
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">
                                <i class="fa fa-user mr-1"></i>
                                {{ app.user.username }}
                            </a>
                            {# menu déroulant user #}
                            <div class="dropdown-menu" role="menu">
                                {# username #}
                                <h6 class="dropdown-header bg-light" role="presentation">
                                    {{ app.user.fullName }}
                                </h6>
                                {# lien profile #}
                                <a class="dropdown-item" role="presentation" href="#">
                                    <i class="fa fa-address-card pr-1"></i>
                                    {{ 'menu.user_menu.profile'|trans }}
                                </a>
                                {# lien dashboard #}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" role="presentation" href="{{ path('admin_dashboard') }}">
                                        <i class="fa fa-dashboard pr-1"></i>
                                        {{ 'menu.user_menu.dashboard'|trans }}
                                    </a>
                                {% endif %}
                                {# lien déconnexion #}
                                <a class="dropdown-item" role="presentation" href="{{ path('user_security_logout') }}">
                                    <i class="fa fa-sign-out pr-1"></i>
                                    {{ 'menu.user_menu.logout'|trans }}
                                </a>
                            </div>
                        </li>
                    {% else %}
                        {# liens Connexion/Inscription si l'utilisateur est déconnecté #}
                        <li>
                            <a class="nav-link" href="{{ path('user_security_login') }}">
                                <i class="fa fa-sign-in pr-1"></i>
                                {{ 'menu.login'|trans }}
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path('user_registration_register') }}">
                                <i class="fa fa-user-plus pr-1"></i>
                                {{ 'menu.signup'|trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
