{#
 * This file is part of the Virtual Visit application.
 *
 * Guillaume Vidal <guillaume.vidal@lycee-bourdelle.com>
 * Design - Malko CARRERAS 
 *
 #}

{% extends ['base.html.twig'] %}

{% block title %}
    {{ parent() }} - {{ 'admin.dashboard.title'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2 bg-light border-right border-secondary card-2">
            {% for group in groups %}
                <h4 class="ml-2 text-uppercase text-secondary">{{ group.name }}</h4>
                <ul class="navbar-nav btn-group-vertical text-dark">
                    {% for link in group.links %}
                        <li class=" ml-2  ">
                            <a href="{{ path('admin_dashboard', { 'template' : link|lower }) }}" class="btn btn-link" style="text-decoration: none">
                                <i class="material-icons" style="font-size:16px">keyboard_arrow_right</i> <span class="mb-2"> {{ link }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <div class="col">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('admin_dashboard') }}">
                        <span>{{ 'admin.dashboard.title'|trans }}</span>
                    </a>
                </li>
                {% if sidebarData.group is not empty %}
                    <li class="breadcrumb-item ">
                        <a href="#"> 
                            {{ sidebarData.group }} 
                        </a> 
                    </li>
                {% endif %}
                <li class="breadcrumb-item active ">
                    {{ sidebarData.link }}
                </li>
             </ol>
             
            {{ render(controller('App\\Controller\\' ~ path)) }}
        </div>
    </div>
{% endblock %}