{#
 * This file is part of the Virtual Visit application.
 *
 * Guillaume Vidal <guillaume.vidal@lycee-bourdelle.com>
 *
 #}

 {% block main %}
    <div id="donutchart_users" style="width: 300px; height: 280px;"></div>
    <div id="donutchart_visits" style="width: 400px; height: 280px;"></div>
    
    {% set nbAdmin = 0 %}
    {% set nbAgent = 0 %}
    {% set nbUser = 0 %}
    
    {% for user in users %}
        {% for role in user.roles %}
            {% if role == 'ROLE_ADMIN' %}
                {% set nbAdmin = nbAdmin + 1 %}
            {% elseif role == 'ROLE_AGENT' %}
                {% set nbAgent = nbAgent + 1 %}
            {% elseif role == 'ROLE_USER' %}
                {% set nbUser = nbUser + 1 %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        var users_chart = Highcharts.chart('donutchart_users',
            {
                chart:
                    {
                        type: 'pie', options3d: { enabled: false, alpha: 45 }
                    },
                plotOptions:
                    {
                        pie: { innerSize: 60, depth: 45 }
                    },
                series:
                    [{
                        name: 'Quantity ', data: [
                            ['User', {{ nbUser }}],
                            ['Agent', {{ nbAgent }}],
                            ['Admin', {{ nbAdmin }}]
                        ]
                    }]
            }
        );
    </script>
    
    <!--
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart()
        {
        	//Chart Users
            var users_data = google.visualization.arrayToDataTable([
                ['Type', 'Different types of Users', ''],
                ['User', {{ nbUser }}, 'users'],
                ['Agent', {{ nbAgent }}, 'users'],
                ['Admin', {{ nbAdmin }}, 'users']
            ]);
            var users_chart = new google.visualization.PieChart(document.getElementById('donutchart_users'));
            users_chart.draw(users_data, { title: 'Users details', pieHole: 0.4, colors: ['#00D8FF', '#FFD400', '#FF2600'] });
            
            var selectHandler = function(e)
            {
                window.location = users_data.getValue(users_chart.getSelection()[0]['row'], 2 );
            }
            google.visualization.events.addListener(users_chart, 'select', selectHandler);
            
            //Chart Visits
            var visits_data = google.visualization.arrayToDataTable([
            	['Type', 'Different Visits per Users', ''],
                ['{{ ownerVisit[0] }}', {{ nbVisit[0] }}, 'visits'],
                ['{{ ownerVisit[1] }}', {{ nbVisit[1] }}, 'visits'],
                ['{{ ownerVisit[2] }}', {{ nbVisit[2] }}, 'visits'],
                ['{{ ownerVisit[3] }}', {{ nbVisit[3] }}, 'visits'],
                ['{{ ownerVisit[4] }}', {{ nbVisit[4] }}, 'visits'],
                ['{{ ownerVisit[5] }}', {{ nbVisit[5] }}, 'visits']
            ]);
            var visits_chart = new google.visualization.PieChart(document.getElementById('donutchart_visits'));
            visits_chart.draw(visits_data, { title: 'Visits details', pieHole: 0.4, colors: ['#FF2600', '#FFD400', '#55FF00', '#00D8FF', '#FF00AA', '#B7B7B7'] });
            
            var selectHandler = function(e)
            {
                window.location = visits_data.getValue(visits_chart.getSelection()[0]['row'], 2 );
            }
            google.visualization.events.addListener(visits_chart, 'select', selectHandler);
        }
    </script>
     -->
{% endblock %}