{#
 * This file is part of the Virtual Visit application.
 *
 * Guillaume Vidal <guillaume.vidal@lycee-bourdelle.com>
 *
 #}

 {% block main %}
    <div id="donutchart_users" style="width: 300px; height: 280px;"></div>
    <div id="donutchart_visits" style="width: 300px; height: 280px;"></div>
    
    {% set nbAdmin = 0 %}
    {% set nbAgent = 0 %}
    {% set nbUser = 0 %}
    
    {% for user in users %}
        {% for role in user.roles %}
            {% if role == 'ROLE_ADMIN' %}
                {% set nbAdmin = nbAdmin + 1 %}
            {% elseif role == 'ROLE_AGENT' %}
                {% set nbAgent = nbAgent + 1 %}
            {% elseif role == 'ROLE_USER' %}
                {% set nbUser = nbUser + 1 %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        //Users chart
        Highcharts.setOptions({
            colors: ['#7CB5EC', '#F7A35C', '#F45B5B']
        });
        Highcharts.chart(
            'donutchart_users',
            {
                title : { useHTML: true, text: 'Users chart' },
                chart: { type: 'pie' },
                plotOptions: {
                    series: { allowPointSelect: true, cursor: 'pointer' },
                    pie: { innerSize: 60 }
                },
                series:
                [{
                    data: [
                        ['User', {{ nbUser }}],
                        ['Agent', {{ nbAgent }}],
                        ['Admin', {{ nbAdmin }}]
                    ]
                }]
            }
        );

        //Visits chart
        Highcharts.setOptions({
            colors: ['#F45B5B', '#F7A35C', '#90ED7D', '#7CB5EC', '#8085E9' ,'#BFBFBF']
        });
        Highcharts.chart(
            'donutchart_visits',
            {
                title : { text: 'Visits chart' },
                chart: { type: 'pie' },
                plotOptions: {
                    series: { allowPointSelect: true, cursor: 'pointer' },
                    pie: { innerSize: 60 }
                },
                series:
                [{
                    data: [
                    	['{{ ownerVisit[0] }}', {{ nbVisit[0] }}],
                        ['{{ ownerVisit[1] }}', {{ nbVisit[1] }}],
                        ['{{ ownerVisit[2] }}', {{ nbVisit[2] }}],
                        ['{{ ownerVisit[3] }}', {{ nbVisit[3] }}],
                        ['{{ ownerVisit[4] }}', {{ nbVisit[4] }}],
                        ['others', {{ nbVisit[5] }}]
                    ]
                }]
            }
        );
    </script>
{% endblock %}