{% block main %}
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody class="text-center">
                <tr>
                    <th>
                        <a href="#" class="nav-link text-dark">{{ 'user.list.id'|trans }} <span class="fa fa-caret-down "/></a>
                    </th>
                    <th>
                        <a href="#" class="nav-link text-dark">{{ 'user.list.fullname'|trans }} <span class="fa fa-caret-down "/></a>
                    </th>
                    <th>
                        <a href="#" class="nav-link text-dark">{{ 'user.list.username'|trans }} <span class="fa fa-caret-down "/></a>
                    </th>
                    <th>
                        <a href="#" class="nav-link text-dark">{{ 'user.list.email'|trans }} <span class="fa fa-caret-down "/></a>
                    </th>
                </tr>

                {% for user in users %}
                    <tr>
                        <td><small>{{ user.id }}</small></td>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}